/* PALETTE

Marigold #efc74b
Pink #ee799b
Blue #5abef3
Brown #80513c
White #f2f4f1

*/

body {
    font-size: 1em;
    background-color: #ee799b;
    color: #f2f4f1;
    margin: 5% 5% 5% 5%;
}

/* Start https://www.cursors-4u.com */
* {
    cursor: url(https://cur.cursors-4u.net/holidays/hol-2/hol136.ani), url(https://cur.cursors-4u.net/holidays/hol-2/hol136.png), auto !important;
}

/* End https://www.cursors-4u.com */

.box {
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
}

#marigold {
    background-color: #efc74b;
}

#pink {
    background-color: #ee799b;
}

#blue {
    background-color: #5abef3;
}

#brown {
    background-color: #80513c;
}

#white {
    background-color: #f2f4f1;
}
