/* PALETTE

Yellow #F5D94A
Red #BB2A2D
Blue #299FBD
Green #48954F
Pink #E8BDC7
White #FEF7ED
Black #1C110D

*/

@font-face {
    font-family: "basteleur-bold";
    src: url("basteleur-bold-webfont.woff");

}

@font-face {

    font-family: "cmunrm";
    src: url("cmunrm-webfont.woff");

}

body {
    font-family: "cmunrm";
    font-size: 1.5em;
    background-color: #299FBD;
    color: #F5D94A;
    margin: 5% 5% 5% 5%;
    text-align: center;
}

h1 {
    font-family: "basteleur-bold";
    font-size: 100px;
}

h2 {
    font-family: "basteleur-bold";
    font-size: 50px;
}

p {
    color: #FEF7ED;
}

img {
    max-width: 100%;
}

div {
    padding-bottom: 100px;
}

a {
    color: #E8BDC7;
    text-decoration: none;
    font-style: italic;
    transition: 0.4s ease-in-out 0s;
}

a:hover {
    color: #BB2A2D;
}

button {
    font-family: "basteleur-bold";
    font-size: 100px;
    background-color: #E8BDC7;
    color: #48954F;
    border: none;
    border-radius: 100px;
    padding: 50px;
    margin: 100px;
    transition: 0.4s ease-in-out 0s;
}

button:hover {
    background-color: #48954F;
    color: #E8BDC7;
}


footer {
    font-size: 20px;
}
