/* PALETTE

Yellow #FADE00
Light Orange #ffbf00
Orange #ff820b
Red #ff0000
Blue #00c5e3
Dark green #3aa01b
Light green #b9d600
Black #010100
White #ededed
Light grey #d4e2e5

*/

html {
    scroll-behavior: smooth !important;

}

@font-face {
    font-family: "basteleur-bold";
    src: url("basteleur-bold-webfont.woff");

}

@font-face {
    font-family: "cmunrm";
    src: url("cmunrm-webfont.woff");
}

body {
    font-family: "cmunrm";
    font-size: 27px;
    text-align: center;
    line-height: 1em;
}

h1 {
    font-family: "basteleur-bold";
    font-size: 90px;
    line-height: 100px;
}

h2 {
    font-family: "basteleur-bold";
    font-size: 45px;
    line-height: 45px;
}

h3 {
    font-family: "basteleur-bold";
    font-size: 30px;
}

img {
    max-width: 100%;
}

a img:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


#tableofcontents {
    background-color: #FADE00;
    color: #ff820b;
}

#tableofcontents a {
    color: #ff820b;
    text-decoration: none;
}

#tableofcontents a:hover {
    color: #00c5e3;
}

#year1 {
    background-color: #b9d600;
    color: #3aa01b;
}

#caption {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    padding-bottom: 10px;
}

#border {
    border: 2px solid #010100;
}


/* table of contents */
.table {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.table img {
    max-height: 300px;
    border: 2px solid #010100;
}

.container {
    max-width: 1200px;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    font-size: 18px;
}

.nav h3 {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    background-color: #FADE00;
    border: 2px solid #010100;
}

.nav a {
    text-decoration: none;
    color: #010100;
}

.nav a:hover {
    text-decoration: none;
    color: #ff820b;
}

.navhome {
    top: 0;
    left: 0;
    position: fixed;
}

.navtopright {
    top: 0;
    right: 0;
    position: fixed;
}

.navbottomleft {
    bottom: 0;
    left: 0;
    position: fixed;
}

.navbottomright {
    bottom: 0;
    right: 0;
    position: fixed;
}

.story {
    margin: auto;
    width: 70%;
    max-width: 900px;
}

.story p {
    font-size: 40px;
    line-height: 50px;
}

.story p {
    text-align: left;
}

.story img {
    max-height: 800px;
    display: inline-block;
    margin-bottom: 20px;
}

.display:not(:last-child) {
    display: flex;
    padding-bottom: 20px;
}

.left {
    width: 50%;
    padding-right: 15px;
    float: left;
}

.right {
    width: 50%;
    padding-left: 15px;
    float: right;
}

p {
    margin-top: auto;
}
